@import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i,800,800i&subset=latin-ext');

* {
	font-family: "EB Garamond", serif;
	text-decoration: none;
}

:root {
	--bg-color: #f4f5eb;
}

img {
	max-width: 100%;
}

body {
	margin: 0;
	font-size: 3vh;
	background: var(--bg-color);
}

#BookContent {
	padding: 20px;
}

#header {
	position: sticky;
	top: 0;
	background: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.32);
}

#header ul li {
	display: inline-block;
	float: none;
}

#header a {
	color: #000;
	display: inline-block;
	padding: 5px 20px;
	background: #eee;
	margin-left: -5px;
	border-left: 1px solid #ddd;
	line-height: 44px;
}

.clear {
	clear: both;
}

#header .sol {
	float: left;
}

#header .sag {
	float: right;
}

p {
	line-height: 4vh;
}

#result {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	left: 10px;
	padding: 5px;
	border-radius: 3px;
	background: #fff;
	color: #000;
	z-index: 99;
	font-size: 2.5vh;
	font-family: Arial;
	box-shadow: 0 0 10px rgba(0,0,0,.1), 0 0 10px rgba(0,0,0,.1);
}

#result b, #result span {
	font-family: Arial;
}

#result .origin {
	border-bottom: 1px solid rgba(0,0,0, .1);
	margin-bottom: 5px;
	padding-bottom: 5px;
	font-family: Arial;
}

#result span {
	padding: 3px 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	background: rgba(0,0,0,.1);
	display: inline-block;
	border-radius: 3px;
}

.linkler {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}

.linkler a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	padding: 10px;
	font-size: 2vh;
	border: 1px solid rgba(0,0,0,.1);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

#sayfalar {
	border-top: 1px solid #ddd;
	position: fixed;
	top: 50px;
	width: calc(100% - 20px);
	right: 0;
	bottom: 0;
	background: #eee;
	padding: 10px;
	padding-top: 0;
	overflow: auto;
	border-left: 1px solid #ddd;
	z-index: 9999;
	display: none;
}
#sayfalar ul {
	padding: 0;
}
#sayfalar ul li {
	list-style-type: none;
	display: inline-block;
}

#sayfalar ul li a {
	font-size: 2.5vh;
	color: #000;
	display: inline-block;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.1);
	margin-right: 5px;
	margin-bottom: 5px;
}

#sayfalar ul li.active a {
	background: var(--bg-color);
	color: #000;
}

#sayfalar h2 {
	font-size: 3vh;
}

.caption {
	font-weight: bold;
}