<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EpubReaderV1</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h3>Kitaplar</h3>
	<ul>
		<li>
			Hard
			<ol>
				<li>
					<a href="{{ url_for('book', bookname='sefiller') }}">Sefiller</a>
				</li>
				<li>
					<a href="{{ url_for('book', bookname='bride') }}">Bride</a>
				</li>
			</ol>
		</li>
		<li>
			Easy
			<ol>
				<li>
					<a href="{{ url_for('book', bookname='hawthorne-a-wonder-book-for-girls-boys') }}">A Wonder Book</a>
				</li>
				<li>
					<a href="{{ url_for('book', bookname='spyri-heidi-illustrations') }}">Heidi</a>
				</li>
			</ol>
		</li>
		<li>
			Türkçe
			<ol>
				<li>
					<a href="{{ url_for('book', bookname='ray-bradbury-fahrenheit-451') }}">Ray Bradbury - Fahrenheit 451</a>
				</li>
			</ol>
		</li>
	</ul>
</body>
</html>