<!doctype html>
<head>
	<title>Hello from Flask</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div id="header">
		<div class="sol">
			<a href="{{ url_for('index') }}">
				<i class="fa fa-home"></i>
			</a>
		</div>
		<div class="sag">
			<a href="{{ url_for('read', bookname=bookname, itemname=PrevPage) }}">
				<i class="fa fa-angle-left"></i>
			</a>
			<a href="{{ url_for('read', bookname=bookname, itemname=NextPage) }}">
				<i class="fa fa-angle-right"></i>
			</a>
			<a href="#" id="sayfalariAc">
				<i class="fa fa-bars"></i>
			</a>
		</div>
		<div class="clear"></div>
	</div>

	<div id="BookContent">
		{{ BookBody|safe }}
	</div>

	<div id="sayfalar">
		<h2>Sayfalar</h2>
		<ul>
			{% for Page in AllPages %}
		        <li class="{{ 'active' if Page==itemname else '' }}">
		        	<a href="{{ url_for('read', bookname=bookname, itemname=Page) }}">
				        {{ Page }}
				    </a>
			    </li>
		    {% endfor %}
		</ul>
	</div>

	<div id="result" class="noselect" data-text=""></div>

	<input type="hidden" id="NextPage" value="{{ NextPage }}">
	<input type="hidden" id="PrevPage" value="{{ PrevPage }}">

	<script src='https://code.responsivevoice.org/responsivevoice.js'></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
